<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title - NeatButik.dk</title>
    @RenderSection("head", required: false)
</head>
<body>
    <div style="border:1px solid red;">@Page.Test</div>
    @RenderPage("/TopNav.cshtml")
    <main>
        <h1>NeatButik.dk</h1>
        @RenderBody()
    </main>
    <hr />
    <footer>
        Copyright @DateTime.Now.Year - Rheannon
    </footer>
</body>
</html>
