@using ProductsLibrary;
@{
    Layout = "Layouts/_Master.cshtml";

    int gameId = (Request["id"] != null) ? int.Parse(Request["id"]) : 1;
    var filePath = Server.MapPath("data/games.json");
    var games = Database.GetGames(filePath);
    var game = games.Where(g => g.Id == gameId).Single();
}
<h1>Details about @game.Name</h1>
@game.Name<br />
@game.Brand<br />
@game.Pegi<br />
@game.Genre<br />
)<br /><br />