@using ProductsLibrary;
@{
    Page.Title = "List of games";
    var filePath = Server.MapPath("~data/games.json");
    var games = Database.GetGames(filePath);
}
<h1>List of games</h1>
<h2>@Request["id"] - @Request["name"]</h2>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Brand</td>
        <td>Genre</td>
        <td>Pegi</td>
    </tr>
    @foreach (var game in games)
    {
    <tr>
        <td> <a href="SpecificGame?id=@game.Id">@game.Name</a> </td>
        <td>@game.Brand</td>
        <td>@game.Genre</td>
        <td>@game.Pegi</td>
    </tr>
    }
</table>