@using ProductsLibrary;
@{
    int guitarId = (Request["id"] != null) ? int.Parse(Request["id"]) : 1;
    var filePath = Server.MapPath("data/guitars.json");
    var guitars = Database.GetGuitars(filePath);
    var guitar = guitars.Where(u => u.Id == guitarId).Single();
}
<h1>Details about @guitar.Name</h1>
@guitar.Name<br />
@guitar.Brand<br />
@guitar.Color<br />
@guitar.Style<br />
)<br /><br />